{% comment %}
  Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}
{% unless template == 'index' or template == 'cart' %}
<div class="breadcrumb" aria-label="breadcrumbs">
  <a href="/" title="Back to the frontpage">Home</a>

  {% if template contains 'product' %}

    {% if collection %}
      <span>&raquo;</span>
      {% if collection.handle %}
         {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
         {{ collection.title | link_to: url }}
      {% endif %}
    {% endif %}
    <span aria-label="current page">&raquo;</span>
    <span>{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}

    {% if current_tags %}
      <span aria-label="current page">&raquo;</span>
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      {{ collection.title | link_to: url }}
      <span aria-label="current page">&raquo;</span>
      <span>{{ current_tags.first }}</span>
    {% else %}
      <span aria-label="current page">&raquo;</span>
      <span>{{ collection.title }}</span>
    {% endif %}

  {% elsif template == 'article' %}

    <span>&raquo;</span>
    {{ blog.title | link_to: blog.url }}
    <span>&raquo;</span>
    <span aria-label="current page">{{ article.title }}</span>

  {% elsif template contains 'page' %}

   <span>&raquo;</span>
   <span aria-label="current page">{{ page.title }}</span>

  {% else %}

   <span>&raquo;</span>
   <span aria-label="current page">{{ page_title }}</span>

  {% endif %}
</div>
{% endunless %}